USE [master]
GO
/****** Object:  Database [TP_SinNumero_Hevia-Ku]    Script Date: 7/7/2025 08:40:10 ******/
CREATE DATABASE [TP_SinNumero_Hevia-Ku]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TP_SinNumero_Hevia-Ku', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TP_SinNumero_Hevia-Ku.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TP_SinNumero_Hevia-Ku_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TP_SinNumero_Hevia-Ku_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TP_SinNumero_Hevia-Ku].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TP_SinNumero_Hevia-Ku]
GO
/****** Object:  User [alumno]    Script Date: 7/7/2025 08:40:10 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Integrantes]    Script Date: 7/7/2025 08:40:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Integrantes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[nombreDeUsuario] [nvarchar](100) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[password] [nvarchar](32) NOT NULL,
	[fechaDeNacimiento] [date] NOT NULL,
	[palabrasClaveQueDescriban] [nvarchar](max) NULL,
	[logros] [nvarchar](max) NULL,
	[opinionProfesional] [nvarchar](max) NULL,
	[foto] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Integrantes] ON 

INSERT [dbo].[Integrantes] ([Id], [nombreDeUsuario], [email], [password], [fechaDeNacimiento], [palabrasClaveQueDescriban], [logros], [opinionProfesional], [foto]) VALUES (1, N'maxi_89', N'maxi@example.com', N'MaxiPass123', CAST(N'1989-03-15' AS Date), N'creativo,analítico,responsable', N'Premio Innovación 2019', N'Creo que el trabajo en equipo es clave para el éxito.', N'fotos/maxi_89.jpg')
INSERT [dbo].[Integrantes] ([Id], [nombreDeUsuario], [email], [password], [fechaDeNacimiento], [palabrasClaveQueDescriban], [logros], [opinionProfesional], [foto]) VALUES (2, N'lore_dev', N'lore@example.com', N'LoreSecure!', CAST(N'1992-07-22' AS Date), N'detallista,colaborativa,organizada', N'Hackathon Ganado 2020', N'La programación es tanto arte como ciencia.', N'fotos/lore_dev.jpg')
INSERT [dbo].[Integrantes] ([Id], [nombreDeUsuario], [email], [password], [fechaDeNacimiento], [palabrasClaveQueDescriban], [logros], [opinionProfesional], [foto]) VALUES (3, N'tomiCoder', N'tomi@example.com', N'TomiClave!45', CAST(N'2000-01-05' AS Date), N'proactivo,rápido,aprendiz', N'Mejor promedio carrera 2021', N'Pienso que siempre hay algo nuevo para aprender.', N'fotos/tomiCoder.jpg')

GO
USE [master]
GO
