@{
    ViewData["Title"] = "Iniciar Sesión";
}
<div class="inicioSesion">
    <h2>Por favor inicie sesión para ingresar al sitio:</h2>
    @if (ViewBag.Error != null)
    {
        <div style="color:red">@ViewBag.Error</div>
    }
    <form action='@Url.Action("LogIn")' method="post">
        <p>Escriba su mail:</p>    
        <input type="email" name="email" required/>
        <p>Escriba su contraseña:</p>
        <input type="password" name="contrasenia" required/>
        <input type="submit" value="Ingresar"/>
    </form>
    <p>¿No tienes cuenta? <a href='@Url.Action("SignUp", "Home")'>Regístrate aquí</a></p>
</div>